.cart {
    padding: 40px 0;

    h1 {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        color: $cBlack;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        padding-top: 30px;

        &-card {
            background: $cWhite;
            padding: 10px 10px 10px 10px;
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid transparent;
            overflow: hidden;
            position: relative;
            border: 1px solid $green;


            .sold {
                position: absolute;
                background: #00d20d;
                color: $cWhite;
                font-size: 14px;
                padding: 5px 10px 5px 15px;
                border-radius: 0px 0px 14px 0;
                left: 0;
                top: -1px;
                background: #f7630c;
            }

            &-img {
                width: 190px;
                height: 200px;
                display: grid;
                place-self: center;
                margin-top: 15px;

                .discount-span {
                    background: #ff2200;
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    font-size: 16px;
                    color: $cBlack;
                }

                &-box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        &:nth-child(1) {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            i {
                                margin-top: -4px;
                                color: #f7630c;
                                font-size: 14px;
                            }

                            span {
                                color: $cBlack;
                                font-size: 14px;
                                opacity: 80%;
                            }
                        }

                        &:nth-child(2) {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            font-size: 12px;
                            opacity: 80%;
                            color: $cBlack;
                        }
                    }
                }

                & .discount-span {
                    font-size: 12px;
                    color: #7e7e7e;
                    text-decoration: line-through;
                    margin-bottom: -10px;
                }
            }

            &-buttons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: end;
                height: 100%;
                gap: 10px;

                button {
                    padding: 10px 20px;
                    border-radius: 8px;

                    i {
                        font-size: 18px;
                        display: grid;
                        place-content: center;
                    }

                    &:nth-child(1) {
                        background: $green;

                        i {
                            color: $cWhite;
                        }

                        &:hover {
                            background: #005bff;
                        }
                    }

                    &:nth-child(2) {
                        background: #e6e6e6;
                        color: #00000097;

                        &:hover {
                            background: #e1e1e1;
                        }
                    }
                }
            }
        }
    }
}