* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppin";
    font-weight: 400;
}

input,
button {
    border: none;
    outline: none;
}

$white: white;
$black: black;