* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppin";
    font-weight: 400;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

input,
button {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh
}

.notFound-title {
    color: black;
    font-size: 5vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

$green: #254336;
$secgreen: #6B8A7A;
$white: white;
$black: black;
$fcolor: #333333;

$cBody: #f4f7fd;
$cFirst: #006bff;
$cSecond: #00bfaf;
$cBlack: #000000;
$cWhite: #ffffff;